<h1>Listing bestlineups</h1>

<table>
  <tr>
    <th>Bestgame</th>
    <th>Player</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bestlineups.each do |bestlineup| %>
  <tr>
    <td><%= bestlineup.bestgame %></td>
    <td><%= bestlineup.player %></td>
    <td><%= link_to 'Show', bestlineup %></td>
    <td><%= link_to 'Edit', edit_bestlineup_path(bestlineup) %></td>
    <td><%= link_to 'Destroy', bestlineup, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bestlineup', new_bestlineup_path %>
