<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @person.name %>
</p>

<p>
  <b>First favfood:</b>
  <%= @person.first_favfood.name %>
</p>

<p>
  <b>Second favfood:</b>
  <%= @person.second_favfood.name %>
</p>

<p>
  <b>Third favfood:</b>
  <%= @person.third_favfood.name %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
