<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @imp_raman.name %>
</p>

<p>
  <b>Price:</b>
  <%= @imp_raman.price %>
</p>


<%= link_to 'Edit', edit_imp_raman_path(@imp_raman) %> |
<%= link_to 'Back', imp_ramen_path %>
