<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @raman.name %>
</p>

<p>
  <b>Price:</b>
  <%= @raman.price %>
</p>


<%= link_to 'Edit', edit_raman_path(@raman) %> |
<%= link_to 'Back', ramen_path %>
