<h1>Listing toriaezus</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @toriaezus.each do |toriaezu| %>
  <tr>
    <td><%= toriaezu.name %></td>
    <td><%= toriaezu.description %></td>
    <td><%= link_to 'Show', toriaezu %></td>
    <td><%= link_to 'Edit', edit_toriaezu_path(toriaezu) %></td>
    <td><%= link_to 'Destroy', toriaezu, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Toriaezu', new_toriaezu_path %>
