<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @toriaezu.name %>
</p>

<p>
  <b>Description:</b>
  <%= @toriaezu.description %>
</p>


<%= link_to 'Edit', edit_toriaezu_path(@toriaezu) %> |
<%= link_to 'Back', toriaezus_path %>
