<%= form_for(@imp2_raman) do |f| %>
  <% if @imp2_raman.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@imp2_raman.errors.count, "error") %> prohibited this imp2_raman from being saved:</h2>

      <ul>
      <% @imp2_raman.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
