<h1>Editing all imp2_ramen</h1>

<%= form_tag :action => 'confirm_all' do %>

<table border="1">
  <tr>
    <th>新規/削除</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% for imp2_raman in @imp2_ramen %>
    <tr>
      <td>
        <% unless imp2_raman.id.blank? %>
          <%= hidden_field_tag("imp2_ramen[][id]", imp2_raman.id) %>
          <%= check_box_tag("imp2_ramen[][delete_check]", true, imp2_raman.delete_check) %>
        <% else %>
          <%= '新規' %>
        <% end %>
      </td>
      <td>
        <%= text_field_tag("imp2_ramen[][name]", imp2_raman.name) %>
      </td>
      <td>
        <%= number_field_tag("imp2_ramen[][price]", imp2_raman.price) %>
      </td>
    </tr>
  <% end %>
</table>
<%= submit_tag "入力確認" %>
<input id="add_row" type="button" value="行追加" />
<% end %>

<%= link_to 'Back', imp2_ramen_path %>
