<h1>Listing imp2_ramen</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @imp2_ramen.each do |imp2_raman| %>
  <tr>
    <td><%= imp2_raman.name %></td>
    <td><%= imp2_raman.price %></td>
    <td><%= link_to 'Show', imp2_raman %></td>
    <td><%= link_to 'Edit', edit_imp2_raman_path(imp2_raman) %></td>
    <td><%= link_to 'Destroy', imp2_raman, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Imp2 raman', new_imp2_raman_path %><br />
<%= link_to 'Edit All Ramen', edit_all_imp2_raman_path %>
