<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @imp2_raman.name %>
</p>

<p>
  <b>Price:</b>
  <%= @imp2_raman.price %>
</p>


<%= link_to 'Edit', edit_imp2_raman_path(@imp2_raman) %> |
<%= link_to 'Back', imp2_ramen_path %>
