<h1>Listing betterlineups</h1>

<table>
  <tr>
    <th>Bettergame</th>
    <th>Player</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @betterlineups.each do |betterlineup| %>
  <tr>
    <td><%= betterlineup.bettergame %></td>
    <td><%= betterlineup.player %></td>
    <td><%= link_to 'Show', betterlineup %></td>
    <td><%= link_to 'Edit', edit_betterlineup_path(betterlineup) %></td>
    <td><%= link_to 'Destroy', betterlineup, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Betterlineup', new_betterlineup_path %>
