<h1>Listing douro_fusetsus</h1>

<table>
  <tr>
    <th>Shichoson</th>
    <th>Douro</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @douro_fusetsus.each do |douro_fusetsu| %>
  <tr>
    <td><%= douro_fusetsu.shichoson %></td>
    <td><%= douro_fusetsu.douro %></td>
    <td><%= link_to 'Show', douro_fusetsu %></td>
    <td><%= link_to 'Edit', edit_douro_fusetsu_path(douro_fusetsu) %></td>
    <td><%= link_to 'Destroy', douro_fusetsu, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Douro fusetsu', new_douro_fusetsu_path %>
