<p id="notice"><%= notice %></p>

<p>
  <b>Shichoson:</b>
  <%= @douro_fusetsu.shichoson %>
</p>

<p>
  <b>Douro:</b>
  <%= @douro_fusetsu.douro %>
</p>


<%= link_to 'Edit', edit_douro_fusetsu_path(@douro_fusetsu) %> |
<%= link_to 'Back', douro_fusetsus_path %>
